<!DOCTYPE html>
<html>
<body>

<h2>League of Legends WIKI</h2>
<p>League of Legends is a multiplayer online battle arena video game developed and published by Riot Games. <br>
While the company and its first game are continously growing, now it's the time to discover more about LoL's universe</p>

<input type="button" onclick="location.href='http://127.0.0.1:5000/champions';" value="Search a champion" />
<input type="button" onclick="location.href='http://127.0.0.1:5000/classes';" value="Discover classes" />
<!--  <input type="button" onclick="location.href='http://127.0.0.1:5000/runes';" value="Discover runes" /> -->
<input type="button" onclick="location.href='http://127.0.0.1:5000/champs_raport';" value="See champions" />
<input type="button" onclick="location.href='http://127.0.0.1:5000/items_raport';" value="Items" />

<br>

<P><img src="{{ url_for('static',filename="lol.jpg")}}"></P>

</body>
</html>
